@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    background: hsl(30, 54%, 90%);
}

.card {
    width: 38%;
    margin: 60px;
    padding: 36px;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

h1,
h2 {
    overflow-wrap: break-word;
    font-family: "Young Serif", serif;
    font-weight: 400;
}

p,
li {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    color: hsl(30, 10%, 34%);
}

.description {
    margin: 50px 0;
}

.description h1 {
    margin: 25px 0 10px;
    font-weight: 400;

}

.description p {
    line-height: 1.5;
}

.preparation-time {
    background: hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 10px;
}

.preparation-time h2 {
    font-size: 18.72px;
    color: hsl(332, 51%, 32%);
}

.preparation-time ul {
    list-style-position: inside;
    line-height: 2.0;
}

.preparation-time li {
    overflow-wrap: break-word;
    color: hsl(30, 10%, 34%);
}

.preparation-time strong {
    font-weight: 600;
}

.preparation-time li::marker {
    color: hsl(332, 51%, 32%);
}

.igredients h2 {
    margin: 25px 0 10px;
    color: hsl(14, 45%, 36%);
}

.igredients ul {
    list-style-position: inside;
    line-height: 2.0;
}

.igredients li {
    overflow-wrap: break-word;
}

.igredients li::marker {
    color: hsl(14, 45%, 36%);
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid hsl(32, 8%, 69%);
    opacity: 0.5;
}

.instructions h2 {
    margin: 25px 0 10px;
    color: hsl(14, 45%, 36%);
}

.instructions ol {
    list-style-position: inside;
    line-height: 1.6;
}

.instructions li {
    margin-bottom: 5px;
}

.instructions strong {
    margin-left: 5px;
}

.instructions li::marker {
    color: hsl(14, 45%, 36%);
    margin-right: 50px;
    font-weight: 800;
}

.nutrition h2 {
    margin: 25px 0 10px;
    color: hsl(14, 45%, 36%);
}

.nutrition p {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Outfit", sans-serif;
   
}

table tr {
    border-top: 1px solid hsl(32, 8%, 69%);
    
}

table td {
    padding: 12px;
    color: hsl(30, 10%, 34%);
    overflow-wrap: break-word;
}

table tr:nth-child(1){
    border: none;
}

table td:nth-child(2){
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

@media (max-width: 430px){
    .card {
        width: 100%;
        margin: 0;
        padding: 0 0 20px 0;
    }

    .card img {
        border-radius: 0;
    }

    .card-content {
        padding: 0 35px;
    }

    .description {
        margin: 30px 0;
    }

    

}