@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    background: hsl(30, 54%, 90%);
}

.card {
    width: 38%;
    padding: 36px;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h1 {
    font-family: "Young Serif", serif;
}

p {
    font-size: 14px;
    color: hsl(30, 10%, 34%);
}

.description {
    margin: 50px 0;
}

.card-content .description h1 {
    margin-bottom: 30px;
    overflow-wrap: break-word;
    font-weight: 400;

}

.card-content .description p {
    font-family: "Outfit", sans-serif;
    text-align: justify;
    line-height: 1.6;
}
