@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');


* {
    margin: 0;
    padding: 0;
    border-style: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    background: hsl(30, 54%, 90%);
}

.card {
    width: 38%;
    padding: 36px;
    border-radius: 10px;
    background: hsl(0, 0%, 100%);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

h1, h2, h3 {
    overflow-wrap: break-word;
    font-family: "Young Serif", serif;
    font-weight: 400;
}

p, li {
    font-family: "Outfit", sans-serif;
    font-size: 14px;
    color: hsl(30, 10%, 34%);
}

.description {
    margin: 50px 0;
}

.description h1 {
    margin-bottom: 30px;
    font-weight: 400;

}

.description p {
    text-align: justify;
    line-height: 1.6;
}

.preparation-time {
    background: hsl(330, 100%, 98%);
    padding: 25px;
    border-radius: 10px;
}

.preparation-time h3 {
    color: hsl(332, 51%, 32%);
}

.preparation-time ul {
    list-style-position: inside;
    line-height: 2.0;
}

.preparation-time li {
    overflow-wrap: break-word;
    color: hsl(30, 10%, 34%);
}

.preparation-time strong {
    font-weight: 600;
}

.preparation-time li::marker {
    color: hsl(332, 51%, 32%);
}

.igredients h2 {
    margin: 25px 0 10px;
    color: hsl(14, 45%, 36%);
}

.igredients ul {
    list-style-position: inside;
    line-height: 2.0;
}

.igredients li {
    overflow-wrap: break-word;
}

.igredients li::marker {
    color: hsl(14, 45%, 36%);
}

hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid hsl(32, 8%, 69%);
    opacity: 0.5;
}



